@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px:    Phone
600 - 900px:  Tablet Portrait
900 - 1200:   Tablet Landscape
1200 - 1800:  Normal Styles Apply
1800+ :       Big Desktop

$breakpoint argument choices:
- phone (600px, 37.5em)
- tab-portrait (900px, 56.25em)
- tab-landscape (1200px, 75em)
- big-desktop (1800px, 112.5em)

ORDER: Base + Typography > general layout + grid > page layout > components
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { @content };
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { @content };
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) { @content };
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5rem) { @content };
  }
}
