.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.80),
    rgba($color-primary-dark, 0.80)),
  url(../img/hero-small.jpg);
  background-size: cover; /* fits backgorund to viewport */
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  @media (min-resolution: 192dpi) and (min-width: 600px), (min-width: 2000px) {
    background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.80),
    rgba($color-primary-dark, 0.80)),
    url(../img/hero.jpg);
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }
  
  &__text-box {
    position: absolute;
    top: 40%; /* from parent element */
    left: 50%; /* from parent element */
    transform: translate(-50%, -50%); /* uses center instead of TL*/
    text-align: center;
  }
}